@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root{
    --color-negro: #1F1518;
    --color-bordo:#8B2C26;
    --color-rojo-claro: #dc0f00;
    --color-gris:#c3c3c3;
    --color-blanco:#FFFFFF;
    --color-deg: linear-gradient(90deg,  #1F1518, #8B2C26);
    --family-titulo: 'Dancing Script';
}

/* ==============================================
================================================= 
                    INDEX . INICIAR SESION
=================================================
================================================= */

#body_login{
    background: var(--color-gris);
    display: flex;
    align-items: center;
}

.contenido_1{
    width: 40%;
    height: 100vh;
    background: var(--color-bordo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido_1 img{
    width: 40%;
}

.contenido_2{
    width: 40%;
    height: max-content;
    margin: 0 auto;
    background: var(--color-blanco);
    border-radius: 30px;
    border: transparent;
    font-family: "Mitr", sans-serif;
    text-align: center;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.contenido_2 label{
    margin-right: 200px;
}

.contenido_2 input[type="text"] {
    font-family: "Mitr", sans-serif;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 10px;
    margin: 10px auto;
    padding: 3px 150px 6px 5px;
}

.contenido_2 input[type="password"] {
    font-family: "Mitr", sans-serif;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 10px;
    margin: 0 auto;
    padding: 3px 150px 6px 5px;
}

.contenido_2 input[type="submit"] {
    border-collapse: collapse;
    border: transparent;
    border-radius: 15px;
    font-family: "Mitr", sans-serif;
    color: white;
    margin: 15px auto;
    padding: 5px 50px 5px 50px;
    background: var(--color-bordo);

    transition: 0.5s;
}
.contenido_2 input[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background: var(--color-rojo-claro);
}
.regis{
    text-decoration: none;
    font-size: 13px;
    border-collapse: collapse;
    border: transparent;
    border-radius: 15px;
    font-family: "Mitr", sans-serif;
    color: rgb(255, 255, 255);
    margin: 15px;
    padding: 5px 50px 5px 50px;
    background-color: #000000;
    transition: 0.5s;
}
.regis:hover{
    text-decoration: none;
    color: white;
    background-color:var(--color-rojo-claro);
  
}

/* ==============================================
================================================= 
                REGISTER . REGISTRO
=================================================
================================================= */

#body_register{
    background: var(--color-gris);
    display: flex;
    align-items: center;
}

.contenido_3{
    width: 40%;
    height: max-content;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    border: transparent;
    font-family: "Mitr", sans-serif;
    padding-bottom: 20px;
}

.formulario_registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    border: 1px solid rgb(199, 198, 198);
    border-radius: 10px;
    padding: 3px 200px 6px 3px;
}

input[type="password"] {
    border: 1px solid rgb(199, 198, 198);
    border-radius: 10px;
    padding: 3px 200px 6px 3px;
}

button[type="submit"] {
    border-collapse: collapse;
    border: transparent;
    border-radius: 15px;
    font-family: "Mitr", sans-serif;
    color: white;
    padding: 5px 50px 5px 50px;
    background: var(--color-bordo);
    transition: 0.5s;
}

button[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background: var(--color-rojo-claro);
}

.form-button{
    font-family: "Mitr", sans-serif;
    text-align: center;
}

.returnlogin {
    text-decoration: none;
    font-size: 13px;
    border-radius: 15px;
    color: white;
    padding: 5px 50px 5px 50px;
    background: #000;
    transition: 0.5s;
}

.returnlogin:hover {
    background: var(--color-rojo-claro);
    color: white;
}