@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root{
    --color-negro: #1F1518;
    --color-bordo:#8B2C26;
    --color-rojo-claro: #dc0f00;
    --color-gris:#c3c3c3;
    --color-blanco:#FFFFFF;
    --color-deg: linear-gradient(90deg,  #1F1518, #8B2C26);
    --family-titulo: 'Dancing Script';
}
/*==================== REPETED ==========================*/

body {
    background: #B8BBBF;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    color: #fff;
    background-color: #000000;
    padding: 0 25px;
}

header h3 {
    font-size: 25px;
}

.button-logout {
    text-decoration: none;
    border-radius: 15px;
    background-color: #dc0f00;
    padding: 10px 10px 10px 10px;
    color: white;
    transition: 0.5s;
}
.button-logout:hover {
    background-color: #D9ddd4;
    color: red;
}

.container {
    margin: 40px auto;
    border-radius: 30px;
    text-align: center;
    background-color: white;
    width: 40%;
}

table{
    background: #000;
}

table th,
tr,
td {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

table {
    width: 100%;
}

th {
    color: white;
    background-color: #000000;
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.timeregis {
    text-align: center;
}

/* ==============================================
================================================= 
                PRODUCTOS
=================================================
================================================= */

.modify {
    text-align: center;
}
.delete {
    text-align: center;
}

.modify .bfix {
    border-radius: 15px;
    background-color: #B8BBBF;
    color: black;
    text-decoration: none;
    padding: 4px 20px 4px 20px;
    transition: 0.5s;
}
.modify .bfix:hover {
    background-color: #fdb515;
    color: white;
}
.delete .bdelete {
    border-radius: 15px;
    background-color: #e60000;
    text-decoration: none;
    color: white;
    padding: 4px 20px 4px 20px;
    transition: 0.5s;
}
.delete .bdelete:hover {
    background-color: #D9ddd4;
    color: red;
}
.Addlist {
    font-size: 20px;
    margin-right: 100px;
    padding: 4px 40px 4px 40px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: #000000;
    transition: 0.5s;
}
.Addlist:hover {
    background-color: #dc0f00;
}

.form-group{
    margin-left: 600px;
}

/* ==============================================
================================================= 
                agregarPRODUCTOS
=================================================
================================================= */

.addproduct [type=text], [type=number] {
    font-family: "Mitr", sans-serif;
    border-radius: 15px;
    border: transparent;
    padding: 7px 200px 7px 5px;
}

.addproduct .return {
    border-radius: 15px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    padding: 4px 40px 4px 40px;
    margin: 0px 0px 50px 100px;
    font-size: 20px;
    transition: 0.5s;

}

.addproduct .return:hover {
    background-color: #FFFE00;
    color: black;
}

.addproduct .modify {
    border-radius: 15px;
    border: transparent;
    color: white;
    padding: 4px 40px 4px 40px;
    margin: 0px 50px 50px 100px;
    font-size: 20px;
    border-collapse: collapse;
    background-color: #000000;
    font-family: "Mitr", sans-serif;
    transition: 0.5s;

}

.addproduct .modify:hover {
    color: black;
    background-color: #FFFE00;
}

/* ==============================================
================================================= 
                editarPRODUCTOS
=================================================
================================================= */

.fixproduct .imagen_demostracion{
    width: 200px;
    height: 200px;
}

.fixproduct [type=text]{
    font-family: "Mitr", sans-serif;
    border-radius: 15px;
    border: transparent;
    padding: 7px 200px 7px 5px;
}
.fixproduct .return{
    border-radius: 15px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    padding: 4px 40px 4px 40px;
    margin: 0px 0px 50px 100px;
    font-size: 20px;
    transition: 0.5s;
}
.fixproduct .return:hover{
    background-color: #FFFE00;
    color: black;
}
.fixproduct .modify{
    border-radius: 15px;
    border: transparent;
    color: white;
    padding: 4px 40px 4px 40px;
    margin: 0px 50px 50px 100px;
    font-size: 20px;
    border-collapse: collapse;
    background-color: #000000;
    transition: 0.5s;
}
.fixproduct .modify:hover{
    color: black;
    background-color: #FFFE00;
}